body, html{height: 100%;}
#header{width: 100%;z-index: 2;height:45px;line-height:45px;background-color: #33414e;color:#fff;}
#header-nav{float:left;}
.rtl #header-nav{float:right;}
#header-nav > li{display:inline-block;padding:0 15px;}
#header-nav > li:hover{background:#3d4e5d;color:#fff;}
#header-nav > li > a{display:inline-block;color:#ddd;height:100%;}

#header #profile{float:right;height:100%;cursor:pointer;}
.rtl #header #profile{float:left;}
#header #profile span{font-size:1.5em;height:100%;display:inline-block;padding: 0 20px;text-align:right;min-width:150px;}
#header #profile span i{padding: 10px;}
#header #profile:hover span{background:#3d4e5d;color:#fff; }
#header .vertical-menu #profile-me:hover i{color:#5cb85c;}
#header .vertical-menu #profile-lock:hover i{color:#f0ad4e;}
#header .vertical-menu #profile-logout:hover i{color:#F0433D;}
 
#header #profile:hover .vertical-menu{display:block;}
#header #profile:active .vertical-menu{display:block;}

#header .button{background-color:#3F5162 }
#header .button:hover{}


#languages .vertical-menu{margin-left:-15px;}
.rtl #languages .vertical-menu{margin-right:-15px;}
#languages:hover .vertical-menu{display:block;}


.vertical-menu {background:#3d4e5d;line-height:20px;font-size:1em;}
#header .vertical-menu {position:absolute;top:45px;background:#3d4e5d;z-index:100;line-height:20px;font-size:1em;display:none;}
/*.vertical-menu .default{background-color: #33414e}*/
.vertical-menu >.default:after{content:"\f00c";display:inline-block;color:#5cb85c;font: normal normal normal 14px/1 FontAwesome;float:right;}
.rtl .vertical-menu >.default:after{float: left;}
.vertical-menu > a{display:block;color:#ddd;padding:5px 10px;font-size:1.5em;border-top:1px solid #33414E;;min-width:150px}
.vertical-menu > a:hover{color:#fff;background:rgba(0,0,0,0.2)}
.vertical-menu > a > i{padding:0 10px;}




#page-sidebar{background-color:#33414e;opacity:0.9;color:#fff;height:100%;z-index:1000;text-align: center}
#page-sidebar a{display:block;color:#999;padding:0 5%;line-height:300%}
#page-sidebar a:hover{color:#fff;background:rgba(255,255,255,0.2)}
#page-sidebar #page-logo{height:45px;padding:0 5px;margin:0;background-color:#3fbae4;overflow:hidden;}
#page-sidebar #page-logo a{line-height:45px;color:white;font-size:1em;text-align:center;padding:0}
#page-sidebar #page-logo a:hover{color:#fff;background:none;}
#page-sidebar .sidebar-items{margin-top:20px;}
#page-sidebar .sidebar-items i{padding: 0 5%}
#page-sidebar .sidebar-items a{border-width:2px;border-color:#33414e;font-size:1.5em;font-size:1.1vw;}
#page-sidebar .sidebar-items a:hover{border-color:#fff;}
.ltr #page-sidebar .sidebar-items a{border-left-style: solid;}
.rtl #page-sidebar .sidebar-items a{border-right-style: solid;}
#page-sidespace{width:15%;float:left;min-height:100%;}
.rtl #page-sidespace{float:right;}

.body {
    position: absolute;
    top:45px;
    bottom: 50px;
}



#footer{max-height: 50px}
#prop-box{height: 100%; background-color: #eee;font-size:1.2em}
#prop-box h3{padding:2% 5%;border-bottom: 1px solid #ccc}
#prop-box li {line-height:200%;padding:2% 5%;}
#prop-box li:hover{background-color:#ddd}
#prop-box li span{float: right}
.rtl #prop-box li span{float: left}

#explorer>ul{margin: 2% 0;}
#explorer li{line-height:200%;padding:1% 2%;cursor:pointer;overflow:hidden;}
#explorer li:hover{background-color: #ddd}
#explorer li span{min-width: 50px;display: inline-block;}
#explorer .id{width: 10%;}
#explorer .name{width: 60%;}
#explorer .size{width: 10%;}
#explorer .date{width: 15%;}








body.dragover {background:#eee}

/*#header{background: url('../images/pattern.png') repeat;height: 60px;width: 100%;position: relative;padding:0;overflow: hiddens}
#header > div{float:left;margin-right:30px;}
#header .logo img{width:40px;margin:5px;}
#header .logo span{line-height:60px;font-size:2em;}

#header .controls a{margin:0 1px;}
#header .controls .bottom{position:absolute;bottom: 3px;}
#header .controls .button{display:inline-block;}
#header .controls .fa-upload{color: #d04332;}
#header .controls .fa-folder{color: #d2b43e;}
#header #breadcrumb-wrapper{padding:5px 0;}
#header .right{float:right;margin-right:1em}
.labeled.icon.button > .icon {font-size: 1.2em}
#header .link{font-size: 2em;color:#7c7c7c;}
#header .link:hover{color:#999;}

.rtl #header > div{float:right;}
.rtl #header .logo img{float:left;}
.rtl #header .logo span{margin-right:15px;}
.rtl #files {direction: ltr;}
.rtl #tree-wrapper {direction: ltr;}*/

input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

#files ul li{float:left;padding:5px 0;border-radius:3px;margin-top: 1px;}
#files ul li:hover{background-color:#eee;}
#files ul li span{float:left;min-width:200px;margin: 0 10px;}
#files ul li span#createFolder{min-width: 50px;}
#files ul li span#cancelCreateFolder{min-width: 50px;}

#files ul li.selected{background-color:#ddd;}


/* Tree */
#tree-wrapper{padding: 2em !important}
#tree-wrapper,#tree-wrapper ul{margin:0;padding:0;list-style:none;}
#tree-wrapper ul{margin-left:1em;position:relative}
#tree-wrapper ul ul{margin-left:.5em}
#tree-wrapper ul:before{content:"";display:block;width:0;position:absolute;top:0;bottom:0;left:0;}
#tree-wrapper li{margin:0;padding:0 1.5em;line-height:2em;color:#369;font-weight:700;position:relative}
#tree-wrapper ul li:before{color:#7c7c7c;content:"\f061";font:normal normal normal 1em/0 FontAwesome;display:block;width:10px;height:0;margin-top:-1px;position:absolute;top:1em;left:0}
#tree-wrapper ul li:last-child:before{background:#fff;height:auto;top:1em;bottom:0}

#tree-wrapper a{color:#7c7c7c;}


.files-box{padding: 0;}
.files-box .span10{box-sizing: border-box;border-top: 1px solid #B64436;border-left: 1px solid #333;}


/*-------------------------
	Breadcrumps
-------------------------*/
.fbreadcrumb{margin:0;padding:0;float:left}
.fbreadcrumb,.fbreadcrumb a{color:#7c7c7c;background:none;font-size:13px}
.fbreadcrumb a:hover,.fbreadcrumb li:last-child a{color:#56ba87}
.fbreadcrumb li{float:left;display:inline;margin-left:5px}
.fbreadcrumb .fa{font-size:10px;margin-right:5px}

.rtl .fbreadcrumb li{float:right;margin-right:5px;margin-left:0}
.rtl .fbreadcrumb .fa{margin-left:5px;margin-right:0}


/*-------------------------
  File List
-------------------------*/

#newform input {
  border: none;
  background: none;
  border-bottom: 1px solid gray;
  box-shadow: none;
}

#newform.hidden {
  display: none;
}

.file.disabled, .folder.disabled {
  color: gray;
  font-style: italic;
}